<% content_for(:title, "add channel") %>
<% breadcrumb(["channels", channels_path], "add") %>

<h1>new channel</h1>

<div style="max-width: 560px;">
  <%= render "channels/form", channel: @channel, cancel_path: channels_path %>
</div>
