<div id="<%= wrapper_dom_id %>" class="game-cover-detail" style="position: relative; display: inline-block; max-width: 100%;">
  <%= helpers.render "shared/igdb_cover", game: @game, size: "t_cover_big" %>
</div>
