<div class="pito-analytics-scalars__pair">
  <span class="pito-analytics-scalars__label text-fg-dim whitespace-nowrap"><%= @label %></span>
  <span class="pito-analytics-scalars__value tabular-nums"><%= @value %></span>
</div>
