<div id="pito-share-gone" class="font-mono p-4">
  <p class="text-fg-dim"><%= Pito::Copy.render("pito.copy.share.gone.title") %></p>
  <p class="text-fg-dim mt-2"><%= Pito::Copy.render("pito.copy.share.gone.body") %></p>
</div>
