<% if active? %>
<span style="font-weight: bold; color: var(--color-text-bold);">[<%= @label %>]</span>
<% else %>
<%= link_to @href, class: css_classes, data: html_data, target: @target, rel: @rel do %>[<span class="bl"><%= @label %></span>]<% end %>
<% end %>
