<div class="border border-line-default bg-surface"
     data-controller="clipboard"
     data-clipboard-text-value="<%= command_text %>"
     data-action="click->clipboard#copy keydown.ctrl+c@window->clipboard#copy keydown.meta+c@window->clipboard#copy"
     tabindex="0"
     role="button"
     aria-label="<%= t("pito.footage.probe_command.aria_label") %>">
  <div class="py-2 px-3">
    <code class="text-fg select-all whitespace-nowrap overflow-x-auto pito-hide-scrollbar"><%= command_text %></code>
  </div>
</div>
<div class="text-right text-fg-dim mt-1" data-clipboard-target="feedback">
  <%= t("pito.footage.probe_command.copy_hint") %>
</div>
