<table class="tui-heatmap">
  <thead>
    <tr>
      <th></th>
      <% hours.each do |h| %>
        <th class="tui-heatmap__hour-label"><%= h.to_s.rjust(2, '0') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% DAYS.each do |day| %>
      <tr>
        <td class="tui-heatmap__day"><%= day %></td>
        <% hours.each do |h| %>
          <td class="tui-heatmap__cell" style="--intensity: <%= intensity(day, h) %>;"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
