<%= tag.li class: "tui-leader-menu__entry", data: data do %>
  <span class="tui-leader-menu__key"><%= key %></span>
  <span class="tui-leader-menu__sep">·</span>
  <span class="tui-leader-menu__label"><%= label %></span>
<% end %>

