<%= tag.fieldset(class: fieldset_class, data: data_attrs) do %><%= render Tui::ScrollIndicatorComponent.new(axis: axis) %><div class="tui-panel-fieldset__scroll" data-tui-scroll-indicator-target="scroll"><%= content %></div><% end %>
