<span class="tui-sidekiq-row sb-sidekiq"
      data-controller="tui-sidekiq-stats"
      data-tui-status-bar-target="sidekiq">
  <% cells.each do |cell| %>
    <%= content_tag :span,
          class: "tui-sidekiq-cell sb-sk-cell",
          data: cell_data(cell) do %><span class="cell-prefix"><%= cell[:prefix] %></span><%= display_value(cell[:value]) %><% end %>
  <% end %>
</span>
