<table class="tui-table">
  <thead>
    <tr>
      <% headers.each_with_index do |h, i| %>
        <th class="tui-table__th tui-table__th--<%= col_align(i) %>"><%= h %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr class="tui-table__row">
        <% row.each_with_index do |cell, i| %>
          <td class="tui-table__td tui-table__td--<%= col_align(i) %>"><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
