<span class="analytics-legend-swatch" style="--swatch-color: <%= color %>;">
  <span class="analytics-legend-swatch__glyph"><%= glyph %></span>
  <span class="analytics-legend-swatch__label"><%= label %></span>
</span>
