<div class="pito-analytics-enhanced flex flex-col gap-3">
  <div class="pito-analytics-enhanced__intro text-fg"><span data-pito-ts-slot></span><%= raw(@intro) %></div>
  <% unless pending? %>
    <% if unavailable? %>
      <div class="pito-analytics-enhanced__note text-fg-dim italic"><%= Pito::Copy.render("pito.copy.analytics.unavailable") %></div>
    <% else %>
      <div class="pito-analytics-enhanced__panel flex gap-6">
        <%= render(Pito::Analytics::ScalarsTableComponent.new(result: @result)) %>
      </div>
    <% end %>
    <% if @nudge.present? %>
      <div class="pito-analytics-enhanced__nudge text-fg-dim italic"><%= @nudge %></div>
    <% end %>
  <% end %>
</div>
