<div class="pito-analytics-scalars">
  <% if loading? %>
    <% GLANCE_METRICS.each do |metric| %>
      <%= render(Pito::Analytics::MetricCellComponent.new(key: metric[:key], label: metric_label(metric[:label]), token: token, loading: true)) %>
    <% end %>
  <% else %>
    <% cells.each do |cell| %>
      <%= render(Pito::Analytics::MetricCellComponent.new(key: cell[:key], label: cell[:label], token: token, series: cell[:series], value: cell[:value], no_data: cell[:no_data])) %>
    <% end %>
  <% end %>
</div>
