<div class="pito-analytics-scalars">
  <% cells.each do |cell| %>
    <%= render(Pito::Analytics::Metric::CompactComponent.new(label: cell[:label], value: cell[:value], series: cell[:series])) %>
  <% end %>
</div>
