<% content_for(:title, "edit #{@video.title}") %>
<% breadcrumb(["videos", videos_path], [@video.title, video_path(@video)], "edit") %>

<h1>edit video</h1>

<div style="max-width: 480px;">
  <%= render "videos/form", video: @video, cancel_path: video_path(@video) %>
</div>
