<dialog data-confirm-dialog-target="dialog"
        data-action="click->confirm-dialog#clickOutside keydown->confirm-dialog#keydown">
  <div data-role="title" class="dialog-title"></div>
  <div data-role="message" class="dialog-message"></div>
  <div class="dot-list">
    <button type="button" data-action="confirm-dialog#confirm"
            class="<%= local_assigns[:destructive] ? 'dialog-destructive' : 'dialog-confirm' %>">[confirm]</button>
    <button type="button" data-action="confirm-dialog#cancel">[cancel]</button>
  </div>
</dialog>
