<%= render(Pito::Segment::Component.new) do %>
  <span>
    <span class="pito-network-shimmer">⠋</span>
    <span class="pito-network-shimmer ml-1"><%= t(@verb_key) %></span>
    <span class="text-fg-faded">…</span>
  </span>
<% end %>
