<div data-pito--command-palette-target="item"
     data-insert="<%= @insert %>"
     data-label="<%= searchable %>"
     class="flex justify-between py-0.5 px-[7px] cursor-default">
  <span class="text-fg text-base"><%= label %></span>
  <span class="text-fg-dim text-base"><%= @insert %></span>
</div>
