<%# Section: orange-bold title + item rows %>
<div class="text-orange font-bold mb-1 px-[7px]"><%= t(@title_key) %></div>
<% @items.each_with_index do |item, idx| %>
  <% item_selected = @selected && idx == @selected_item_index %>
  <div class="flex justify-between py-0.5 px-[7px]" style="<%= 'background: var(--border-default);' if item_selected %>">
    <span class="text-fg"><%= t(item[:label_key]) %></span>
    <% if item[:shortcut] %>
      <span class="text-fg-dim"><%= item[:shortcut] %></span>
    <% end %>
  </div>
<% end %>
