<div data-pito--command-palette-target="section"
     data-section-title="<%= t(@title_key) %>">
  <div class="text-yellow font-bold mb-1 px-[7px]" data-pito--command-palette-target="sectionTitle"><%= t(@title_key) %></div>
  <% @items.each do |item| %>
    <%= render(Pito::Palette::CtrlK::CommandComponent.new(
          label_key: item[:label_key],
          insert:    item[:insert]
        )) %>
  <% end %>
</div>
