<span class="inline-flex items-center gap-1"><%= render(Pito::Keybinding::ShortcutComponent.new(keys: @shortcut, data: @shortcut_data)) %><span<% if @description_id %> id="<%= @description_id %>"<% end %><% if @description_data.any? %><% @description_data.each do |k, v| %> <%= "data-#{k}=\"#{v}\"".html_safe %><% end %><% end %> class="text-fg-dim"><%= @description %></span></span>
