<% if @total_pages > 1 %>
  <div class="dot-list" style="margin-top: 12px;">
    <% if @page > 1 %>
      <%= render(BracketedLinkComponent.new(label: "prev page",
            href: url_for(page: @page - 1))) %>
    <% end %>
    <span>page <%= @page %> / <%= @total_pages %></span>
    <% if @page < @total_pages %>
      <%= render(BracketedLinkComponent.new(label: "next page",
            href: url_for(page: @page + 1))) %>
    <% end %>
  </div>
<% end %>
