---
import Base from "../layouts/Base.astro";
---

<Base>
  <h1>pito</h1>
  <p>best YouTube tool.</p>

  <hr class="hairline" />

  <p>under construction. real landing page coming later.</p>
  <p>
    visit <a href="https://app.pitomd.com">[ app ]</a> if you have an account.
  </p>
</Base>
