<span class="pito-hint-pair inline-flex items-center gap-2"><%= render(Pito::Keybinding::ShortcutComponent.new(keys: t("pito.shell.chatbox.filter.channel_shortcut"))) %><% if @channel == "none" %><span class="text-red"><%= t("pito.shell.chatbox.no_channels") %></span><% else %><%= render(Pito::Event::ChannelHandleComponent.new(@channel)) %><% end %></span>
