<%# Pito::Achievement::ShiniesComponent
    Intro line (with timestamp slot) + one MetricRowComponent per metric. %>
<div class="pito-achievement-shinies flex flex-col gap-4">
  <% if @intro.present? %>
    <div class="pito-achievement-shinies__intro text-fg"><span data-pito-ts-slot></span><%= raw(@intro) %></div>
  <% end %>

  <% metrics.each do |metric| %>
    <%= render(Pito::Achievement::MetricRowComponent.new(entity: @entity, metric: metric)) %>
  <% end %>
</div>
