<% content_for(:title, "disconnect YouTube channels") %>

<div id="delete-content">
  <h1>disconnect <%= number_with_delimiter(@channels.length) %> YouTube channel<%= "s" if @channels.length != 1 %>?</h1>
  <p class="text-muted" style="margin-top: 2px;">
    this clears the YouTube connection on these channels. channel
    records and their data stay. if no other connected channel uses
    the same google account, the google grant will also be revoked.
  </p>

  <table>
    <thead>
      <tr>
        <th>channel</th>
      </tr>
    </thead>
    <tbody>
      <% @channels.each do |channel| %>
        <tr>
          <td style="font-family: monospace;"><%= channel.channel_url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="action-footer">
    <%= render "shared/action_screen",
      submit_label: "[confirm disconnect]",
      cancel_path: @cancel_path,
      form_url: youtube_connection_disconnect_path(ids: @channels.map(&:id).join(",")),
      form_method: :delete,
      destructive: true %>
  </div>
</div>
