<%= content_tag :section,
      class: "pane pito-pane pito-panel pito-panel--games-table",
      **panel_data do %>
  <span class="pito-pane__title"><%= title %></span>
  <%= render Tui::PanelFieldsetComponent.new do %>
    <p class="pito-panel__placeholder">[ panel content TBD ]</p>
  <% end %>
<% end %>
